.red {
    background-color: #EF302B;
}

.blue-background {
    background-color: #1E4391;
}

.blue {
    color: #1E4391;
}

.main_first_color {
    color:  #748AB9;
}

.main_second_color {
    color: #CAD1E1;
}

.footer_color {
    color: #A7A7A7;
}

.black {
    color: black;
}

.gray {
    color: #545454;
}

.green-background {
    background-color: #EDF7EB;
}

.light-blue-background {
    background-color: #E7F2FF;
}

.orange-background {
    background-color: #FCF4E6;
}

.gray-background {
    background-color: #F6F6F6;
}

.green {
    color: #147246;
}

.orange {
    color: #E98446;
}

.white {
    color: #FFFFFF;
}