.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_header {
    box-sizing: border-box;
    width: 96%;
    height: 4rem;
    margin-left: 2.2%;
    margin-right: 1.8%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.logo_urfu {
    width: 7.5rem;
    height: 3rem;
    transform: scale(1.2);
}

.container_circle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #E9E9E9;
    text-align: center;
    line-height: 3rem;
}

.search_icon {
    width: 1.2rem;
    height: 1.2rem;
}

.language {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}