.navigation {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 13.8rem;
    height: calc(100% - 4rem);
    background-color: #F6F6F6;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: 1.4rem;
    padding-left: 1.7rem;
}
