.navigation {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 13.8rem;
    height: calc(100% - 4rem);
    background-color: #F6F6F6;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: 1.4rem;
    padding-left: 1.7rem;
}

.picture_svg {
    filter: invert(0) sepia(1) saturate(10000%) hue-rotate(207deg) brightness(0.9);
}

.line {

}

.line:hover {
    filter: invert(0) sepia(1) saturate(10000%) hue-rotate(207deg) brightness(0.8);
    color: #1E4391;
}
