.block_main_part_table {
    flex-direction: column;
    display: flex;
    height: auto;
    width: 92%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
}

table {
    font-size: 14px;
    background: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: normal;
    font-weight: 700;
    color: #1E4391;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

td {
    padding: 0.75rem 0.75rem;
    border-bottom: 1px solid #E4E7ED;
}

tr:last-child td {
    border-bottom: none;
}

.pagination {
    display: grid;
    grid-gap: 0.25rem;
    padding-inline: 50px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    -webkit-box-align: center;
    align-items: center;
    grid-template-columns: 1fr max-content 1.3fr;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 92%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-top: 1rem;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
}

.choose_amount {
    width: auto;
    height: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
}